/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --accent-font:  'Press Start 2P';
    --main-font: Inter-Variable,sans-serif;
    --wg-main-font: 400;
    --wg-title-font: 700;
    --accent-font-wg: 400;
    --accent-color: #000;
    --bg-color: #fff; 
    --accent-font-size: 14px;
    --main-font-size: 18px;
    --d: 100%;
}